@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "readmore";
}

<!-- banner -->
<div class="inner_banner_agile">

</div>

<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short_ls">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <span>/ /</span>
            </li>
            <li>Book Tour</li>
        </ul>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h3 class="title">Book Tour</h3>
        <h3 class="title">Booking for @*tour title*@</h3>
        <div class="contact-block-left">
            @using (Html.BeginForm("Savedata", "Home", FormMethod.Post))
            {
                <input type="text" placeholder="Full Name" required="" name="fullname">
                <input type="email" class="email" placeholder="Email" name="email" required="">
                <input type="text" placeholder="Phone Number" required="" name="phonenumber">
                <textarea placeholder="Additional Needs" name="message" required=""></textarea>
                <input type="submit" value="Book">
            }
        </div>
    </div>
</div>