

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "contactsuccess";
}

<style>
    .success-msg {
        color: #000;
        font-size: 18px;
        text-align: center;
    }
</style>

<!-- banner -->
<div class="inner_banner_agile">

</div>

<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short_ls">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <span>/ /</span>
            </li>
            <li>Contacted Successfully</li>
        </ul>
    </div>
</div>

<div class="welcome">
    <div class="container">
        <h3 class="title">Thank you for your feedback.</h3>
        <p class="success-msg">
            We will try to improve our services and Thank you for contacting and choosing us.
        </p>
        <div class="clearfix"> </div>
    </div>
</div>

