
@{
    Layout = "~/Views/Shared/adminlayout.cshtml";
    ViewBag.Title = "Index";
    int sn = 0;
}

<section id="main-content">
    <section class="wrapper">
        <div class="row form-group">
            <div class="title">Tours And Destinations Details</div>
            <div class="btn-style">
                <a href="@Url.Action("AddNew","Gallery")">Add a new record</a>
            </div>

            <table class="table-style">
                <tr>
                    <td>SN</td>
                    <td>Uploaded File</td>
                    <td>Destination name</td>
                </tr>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@(++sn)</td>
                        <td>
                            <img src="@Url.Content(data.photo+"/"+data.photo_name)" height="200" width="200" />
                        </td>
                        <td>@(data.destination_name)</td>
                    </tr>
                }
            </table>
        </div>
    </section>
</section>
